
USE DGS_DATA
CREATE TABLE dbo.ALTERNATE_RELATIONS_S
(
    BOOKMARK_ID                  decimal(20),
    RELATION_ID                  nvarchar(18),
    ALTERNATE_SOURCE_SYSTEM_CODE nvarchar(20),
    PROCESSING_DATE              datetime,
    LINKING_DATE                 datetime,
    CONTROL_DELIVERY_CODE        nvarchar(20),
    CONTROL_TIMESTAMP            datetime,
    REPORTING_ENTITY_ID          decimal(4),
    ALTERNATE_RELATION_ID        nvarchar(18),
    SOURCE_CODE                  nvarchar(20),
    CORRECTION_IND               nvarchar(1),
    LOAD_DTS                     datetime2
);
